.about-cover {
  background: rgba(0, 0, 0, 0)
    linear-gradient(60deg, rgb(20, 26, 54), rgb(4, 20, 64)) repeat scroll 0% 0%;
  clear: both;
  min-height: 170px;
  padding: 25px 0;
  position: relative;
  margin-top: -2em;
  margin-bottom: 2em;
}

.global {
  margin-top: -2em;
  margin-bottom: 0em;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
}

.h1-title-content {
  color: white;
  font-size: 40px;
  margin-top: 20px;
}

.h2-subtitle {
  color: white;
  font-family: 'Open Sans';
  font-size: 18px;
  text-transform: uppercase;
  line-height: 26px;
}

.carte {
  position: relative;
  float: left;
  max-width: 30%;
}

.col-md-10 {
  color: #0c0c1d;
  text-align: justify;
  position: relative;
}
.slogan {
  margin-top: -1em;
  margin-left: 8em;
  float: left;
  font-style: italic;
  font-size: 15px;
  color: white;
}

h2 {
  text-align: center;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
  text-align: justify;
  padding: 40px;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}
#about {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 980px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  padding: 40px;
}
#about.h2,
h3 {
  color: white;
}

.MuiGridListTile-root-6 {
  margin: auto;
  margin-bottom: 20px;
}

.separator-about {
  position: relative;
  background: rgba(0, 0, 0, 0)
    linear-gradient(60deg, rgb(20, 26, 54), rgb(20, 26, 54)) repeat scroll 0% 0%;
  padding: 15px;
  transform: skewY(180deg);
  margin-bottom: 10px;
}
.profile-about {
  float: left;
  max-width: 450px;
}
.location {
  float: left;
  width: 50%;
  max-width: 150px;
  padding-left: 25px;
  margin-bottom: 100px;
}
